.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar .navbar-nav > li > span > a  {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .navbar-nav >  li > span > a {
    color: #777;
}
.navbar .navbar-nav >  li > span > a:hover,
.navbar .navbar-nav >  li > span > a:focus {
    color: #333;
    background-color: transparent;
}



body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
        text-align: justify;
        white-space: normal;
        font-size: 10pt;
        width: 100%;
        background-color: transparent;
    }

.login-box {
    margin-top: 5%;
    padding: 2%;
    background: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-family: Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.video-container
{
    width: 1200px;
    height: 252px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.slide
{
    display: inline-block;
    width: 350px;
    height: 250px;
    margin: 5px;
    /*float: left;*/
}

.video-description
{
    width: 350px;
    height: 20px;
}



.container {
  width: 1200px;
}    

.story {
  margin: 30px;
  width: 1200px;
  font-size: 25px;
}   

.score-image {
  height: 18px;
  width: 18px;
  float: left;
}
.container-columns {
   width: 22%; 
   border-top: 0px;
   border-bottom: 0px;
   border-style: solid;
   border-color: grey;
   min-width: 30%px;
   float: left;
   margin-left: 5px;
   
}

.question-coulumns {
   width: 200px; 
   min-width: 200px;
   height: 50px;
   min-height: 50px;
   margin-left: 5px;
}

.middle {
  margin-left: 15px;
}


.addclass {
	 width: 350px; 
	 height: 245px;
	 border: 4px;
	 border-style: solid;
	 border-color: grey;
	 float: left;
}

.ng-enters        { animation:slideInRight 0.5s both ease-in; }



@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}