body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
        text-align: justify;
        white-space: normal;
    }

.container-columns {
   width: 250px; 
   border-top: 0px;
   border-bottom: 0px;
   border-style: solid;
   border-color: grey;
   min-width: 250px;
   float: left;
   margin-left: 5px;
}

.question-coulumns {
   width: 200px; 
   min-width: 200px;
   height: 50px;
   min-height: 50px;
   margin-left: 5px;
}

.middle {
  margin-left: 15px;
}


.addclass {
	 width: 350px; 
	 height: 245px;
	 border: 4px;
	 border-style: solid;
	 border-color: grey;
	 float: left;
}

.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  }