    <div class="modal-header">
        <h3 class="modal-title">Add a new Video</h3>
    </div>
    
    <div class="modal-body">
        <div>
            <div>Name.............<input type="text" ng-model="name"></div>
            <div>Youtube Video<input type="text" ng-model="youtubeurl"></div>
            <div>Comments......<input type="textarea" ng-model="comment"></div>
              
        </div> 
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save(id, name, youtubeurl)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
