 <div ng-repeat="course in courses">
           <div class="span2" style="float: left; width: 800px; height: 300px; margin: 20px"> 
                <div class="btn btn-success"> {{course.description}}</div>
                <div class="btn btn-warning" ng-click="open(course._id)"><i class="fa fa-plus"></i></div>
                
                <div class="video-container">

                    <div ng-repeat="video in course.videos" class="slide">
                        <div> Name: {{video.name}} </div>                
                        <div style="float:left;">
                            <iframe width="350" height="250" class="embed-responsive-item" src={{video.url}} allowfullscreen>
                             </iframe>      
                        <div>        
                    </div> 

                </div>    
            </div> 
            
        </div>    
