  <div class="login-box">
    <h3>
      <header><span>Sign In</span></header>
    </h3>
    <div id="message" style="margin-bottom: 5%">
      <span class="label label-danger">{{message}}</span>
    </div>
    <h5><span>User Id</span></h5>
    <input type="text" class="form-control" placeholder="Username" ng-model="username">
    <h5><span>Password</span></h5>
    <div style="margin-bottom: 10%">
      <input type="password" class="form-control" placeholder="Password" ng-model="password">
    </div>
    <div style="margin-bottom: 5%">
        <input type="checkbox"><span> Remember Me</span>
    </div>
    <button class="btn btn-primary" ng-click="login()">Sign In</button>

  </div>

</div>
